<div class="grid-container fluid">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <img src="/public/assets/img/winekeyhomelogo.jpg" alt="logo"/>
        </div>
    </div>
</div>

<div class="grid-container fluid">
  <div class="grid-x grid-margin-x">
    <div class="cell small-6">
        <a href="restaurantlist.handlebars">Update Store Inventory</a>
        </div>
    <div class="cell small-6">Search for a Bottle</div>
  </div>
</div>