

<div class="grid-container fluid">
    <div class="grid-x grid-padding-x align-center">
        <div class="cell small-8">
            <div class="card">
                <h3>Please Login!</h3>
                <form id="loginForm">
                    <input type="text" name="email" id="loginEmail" placeholder="email">
                    <input type="password" name="password" id="loginPassword" placeholder="password">
                    <button class="label">Login!</button>
                    <p>Not a user? Please <a href="/auth/signup">Sign-Up!</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/login_script.js"></script>