
<div class="grid-x grid-padding-x align-center center">
    <div id="loginkey" class="cell small-6"><img width="300" height="200" class="center"
            src="https://chairish-prod.freetls.fastly.net/image/product/master/1a63fc03-f551-4b0c-8406-f7e68850026a/vintage-italian-brass-skeleton-key-with-hidden-corkscrew-wine-and-bottle-opener-1870"
            alt="winekey" />
    </div>
</div>

<div class="grid-container fluid">
    <div class="grid-x grid-padding-x align-center">
        <div class="cell small-8">
            <div class="card">
                <h3 class="textcenter">Please Login!</h3>
                <form id="loginForm">
                    <input type="text" name="email" id="loginEmail" placeholder="email">
                    <input type="password" name="password" id="loginPassword" placeholder="password">
                    <br>
                    <button class="label button large rounded bordered shadow center loginPadding">Login</button>
                    <p class="textcenter">New to Wine Key? Please <a href="/auth/signup">Sign Up!</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="grid-x grid-padding-x align-center">
        <div class="cell small-6"><img class="center"
                src="https://media-exp1.licdn.com/dms/image/C560BAQHbXv4XE0Fd4A/company-logo_200_200/0?e=2159024400&v=beta&t=UEzazauMofT-xZyntpg4RE-4LvlOspaPUzU85jucokA"
                alt="fvlogo" />
        </div>
    </div>
</footer>
<script src="/assets/js/login_script.js"></script>