<h3>Signup!</h3>
<form id="signupForm">
    <input type="text" name="name" id="signupName" placeholder="name">
    <input type="text" name="email" id="signupEmail" placeholder="email">
    <input type="password" name="password" id="signupPassword" placeholder="password">
    <button class="label">Signup!</button>
</form>

<script src="/assets/js/signup_script.js"></script>