<div class="grid-container fluid">
    <div class="grid-x grid-padding-x align-center">
        <div class="cell small-8">
            <div class="card">
                <h3>Signup!</h3>
                <form id="signupForm">
                    <input type="text" name="name" id="signupName" placeholder="name">
                    <input type="text" name="email" id="signupEmail" placeholder="email">
                    <input type="password" name="password" id="signupPassword" placeholder="password">
                    <button class="label">Signup!</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/signup_script.js"></script>