<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium"> 
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title">Menu</div>
      </div>
      
{{>navbar}}
    
    <div class="grid-x grid-padding-x align-center">
            <div class="cell small-6"><img width="300" height="200" class="center" src="https://chairish-prod.freetls.fastly.net/image/product/master/1a63fc03-f551-4b0c-8406-f7e68850026a/vintage-italian-brass-skeleton-key-with-hidden-corkscrew-wine-and-bottle-opener-1870" alt="winekey" />
            </div>
        </div>
    <br>
    <h1>Wine Catalog</h1>
    <br>
    <br> <!--change to padding later on-->
    <br>
    <div class="grid-container fluid">
        <div class="grid-x grid-padding-x align-center">
            <div class="cell small-8">
                <table id="wineCatalog"> <!--added table id-->
                    <thead>
                      <tr>
                        <th width="500">Wine Name & Vintage</th>
                        {{!-- <th width="500">Locations</th> --}}
                      </tr>
                    </thead>
                    <tbody>
                      {{#each wine}}
                      <tr>
                        <td>{{wineName}} {{year}}</td> <!--to pull information from tables-->
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                  <h4><a href="/api/wines/updatewinecatalog">Update Wine Catalog Here</a></h4>
                </div>
            </div>
        </div>
    
        <footer>
            <div class="grid-x grid-padding-x align-center position-fixed-bottom footer">
                <div class="cell small-6"><img class="center" src="https://media-exp1.licdn.com/dms/image/C560BAQHbXv4XE0Fd4A/company-logo_200_200/0?e=2159024400&v=beta&t=UEzazauMofT-xZyntpg4RE-4LvlOspaPUzU85jucokA" alt="fvlogo" />
                </div>
            </div>
        </footer>