body{
    background-color: #00205B;
    
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
  
}

h1{
    text-align: center;
    color: lightgrey;
    font-size:120pt;
    font-family: 'Parisienne',
    cursive;

}

h2{
    color:lightgrey;
    font-family: 'Patrick Hand',
    cursive;
    text-align:center;
}

h4{
    color:lightgrey;
    text-align:center;
    font-family: 'Patrick Hand',
    cursive;
    text-align:center
}

.label{
    color:lightgrey;
    
}

.center{
    display:flex;
    align-items: center;
    justify-content: center;
}

#homekey{
    padding-bottom:2rem;
}